.idea/
.venv/
twine_upload
setup.py
test_file.py
minecraft_script/__pycache__/
minecraft_script/lexer/__pycache__/
minecraft_script/parser/__pycache__/
minecraft_script/interpreter/__pycache__/
minecraft_script/compiler/__pycache__/test-output/
__pycache__/
build/
dist/
*.egg-info/
build_test/
mod/.gradle/
mod/**/.gradle/architectury-cache/
mod/build/
mod/out/
mod/run/
mod/scripts/node_modules/
highlighter/node_modules/
highlighter/dist/
highlighter/*.vsix
npm/node_modules/
npm/*.tgz