.idea/
.venv/
twine_upload
setup.py
test_file.py
minecraft_script/__pycache__/
minecraft_script/lexer/__pycache__/
minecraft_script/parser/__pycache__/
minecraft_script/interpreter/__pycache__/
minecraft_script/compiler/__pycache__/test-output/
__pycache__/
build/
dist/
*.egg-info/
build_test/
highlighter/node_modules/
highlighter/dist/
highlighter/*.vsix
npm/node_modules/
npm/*.tgz
mod/.gradle/
